@each $utility-key, $utility-value in $utilities {

    @if $utility-key !="$keys" {

        $property: map-get($utility-value, "property");
        $use-keys: map-get($utility-value, "use-keys");
        $class: map-get($utility-value, "class");
        $values: map-get($utility-value, "values");

        @if $use-keys ==1 {
            @each $key, $value in $values {
                .#{$class}#{$key} {
                    #{$property}: #{$value};
                }
            }
        }

        @else if $use-keys ==0 {
            $keys: map-get($utilities, "$keys");

            @for $i from 1 through length($values) {
                .#{$class}#{nth($keys, $i)} {
                    #{$property}: #{nth($values, $i)};
                }
            }
        }

        @else {
            $max: map-get($utility-value, "max");

            @for $i from 1 through $max {
                .#{$class}#{$i} {
                    #{$property}: #{sqrt($i)}px;
                }
            }
        }
    }
}