.l-page {

    display: grid;
    outline: 1px solid black;
    grid-template-areas:
        "header header header header"
        "div1 div2 div2 div3"
        "div1 div2 div2 div3"
        "footer footer footer footer";
    height: 100vh;
}
.l-page__header {
    grid-area: header;
    outline: 1px solid black;
}

.l-page__footer {
    grid-area: footer;
    outline: 1px solid black;
}

.l-page__div1 {
    grid-area: div1;
    outline: 1px solid black;
}

.l-page__div2 {
    grid-area: div2;
    outline: 1px solid black;
}

.l-page__div3 {
    grid-area: div3;
    outline: 1px solid black;
}

