.c-menu {

    display: flex;
    font-size: 20px;
    border: 2px solid black;
    padding: 5px;
    width: 100%;

    &__item {

        &--left {
            margin-right: auto;
            color: red;
        }

        &--right {
            margin-left: auto;
            color: blue;
        }

        &--center {
            margin-left: auto;
            margin-right: auto;
            color: green;
        }
    }
}