$colors:(
    "red": #ea333d,
    "green": #3fea33,
    "yellow": #eac533
);

$displayType:(flex, block, inline-block);

$paddings :(
    "xs": 10px,
    "s": 250px,
    "m": 50px,
    "l": 80px,
    "xl": 125px
);