@use "../01_utilities/scss-variables" as *;
@use "sass:list";
@use "sass:map";

$nombre-colores: map.get($set-colores, "nombre-colores");
$colores: map.get($set-colores, "colores");



@each $colores-key, $colores-value in $colores {
    @for $i from 1 through list.length($colores-value) {
        $nombre-color: list.nth($nombre-colores, $i);
        $codigo-color: list.nth($colores-value, $i);

        @if ($nombre-color =="") {
            .g--color-#{$colores-key} {
                color:var(--color-#{$colores-key});
            }
        }

        @else {
            .g--color-#{$colores-key}-#{$nombre-color} {
                color:var(--color-#{$colores-key}-#{$nombre-color});
            }
        }
    }
}