.red{
    background-color: lightcoral;
}
.blue{
    background-color: lightblue;
}
.tabla{
    border: 1px, black, solid;
    margin: 10px;
}
.tabla *{
    margin: 10px;
    border: 1px, black, solid;
    border-left: 0px;
    border-right: 0px;
}