$breakpoints: map-get($responsive, "breakpoints");
$separator: map-get($responsive, "separator");
$position: map-get($responsive, "position");

@each $name, $value in $font-size {
    .g--font-size-#{$name} {
        font-size: var(--font-size-#{$name})
    }
}

@each $name-breakpoint, $value-breakpoint in $breakpoints {
    @media (min-width: #{$value-breakpoint}px) {
        @each $name, $value in $font-size {
            @if $position =="behind" {
                .g--font-size-#{$name}#{nth($separator, 1)}#{$name-breakpoint} {
                    font-size: var(--font-size-#{$name}--md)
                }
            }

            @else {
                .#{$name-breakpoint}#{nth($separator, 2)}g--font-size-#{$name} {
                    font-size: var(--font-size-#{$name})
                }
            }
        }
    }
}