@use "../01_utilities/mixins" as *;

.c-switch {
    --c-switch-color-strong: var(--color-green-30);
    --c-switch-color-weak: var(--color-blue-90);
    --c-switch-padding-xs: var(--padding-1);
    --c-switch-padding-s: var(--padding-2);
    --c-switch-padding-m: var(--padding-3);
    --c-switch-padding-l: var(--padding-4);
    --c-switch-padding-xl: var(--padding-5);
    --c-switch-border-radius-xs: var(--border-radius-1);
    --c-switch-border-radius-s: var(--border-radius-2);
    --c-switch-border-radius-m: var(--border-radius-3);
    --c-switch-border-radius-l: var(--border-radius-4);
    --c-switch-border-radius-xl: var(--border-radius-5);


    --c-switch-border-radius: 8px;
    --c-switch-width: 100px;
    --c-switch-padding-5: 5px;
    --c-switch-padding-8: 8px;
    --c-switch-color-grey: rgb(229, 229, 229);
    --c-switch-color-green: rgb(9, 66, 9);

    display: flex;
    width: var(--c-switch-width);
    padding: var(--c-switch-padding-5);
    color: var(--c-switch-color-grey);
    background-color: var(--c-switch-color-grey);
    border-radius: var(--c-switch-border-radius);

    &--dark {
        background-color: var(--c-switch-color-green);
    }

    &__item {
        text-align: center;
        width: 50%;
        padding: var(--c-switch-padding-8);

        &--selected-left {
            @include selected();
            @include border-radius(left);
        }

        &--selected-right {
            @include selected();
            @include border-radius(right);
        }
    }
}