.c-button {

    --c-button-color: var(--color-texto-boton);
    --c-button-background-color: var(--color-fondo-boton);
    --c-button-border-color: var(--color-borde-boton);

    color: var(--c-button-color);
    background-color: var(--c-button-background-color);
    border: 2px solid var(--c-button-border-color);
}