.c-menu {
    display: flex;

    &__item {

        &--position-left {
            color: red;
            margin-right: auto;
        }

        &--position-right {
            color: blue;
            margin-left: auto;

        }

        &--position-center {
            color: green;
            margin-right: auto;
            margin-left: auto;
        }
    }
}